@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@font-face {
  font-family: 'Sawah';
  src: url('../public/fonts/Sawah.otf') format('opentype');
}

* {
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
}

.header {
  display: flex;
  margin-top: 15px; 
  text-align: center;
  font-family: Lato;
}


.header svg {
  font-size: 1.5rem;
  vertical-align: middle;
}

.header a {
  color:white;
  font-family: Lato;
  white-space: nowrap;
}


.line {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  opacity: .25;
}

.logo {
  text-align: center;
  width: 100%;
}

.logo img{
  width: 35%;
}

nav {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

nav a {
  font-family: Sawah; 
  color: rgba(255, 255, 255, .5);
  letter-spacing: 3px;
  display: inline-block;
  white-space: nowrap;
}

nav a::first-letter {
  color: rgb(17, 222, 17);
}


nav a:hover {
  color: white;
  transition: 1s;
}

.homecontainer {
  margin: 0;
  padding: 0;
  margin-bottom: 50px;
}

.lineseperator-home img {
  width: 90%;
}

.homecontainer .homepartner {
  color: white;
}

.homecontainer .homepartner h2 {
  font-family: Lato;
  font-weight: 400;
}

.homecontainer .homepartner p {
  font-family: Lato;
}


.car-section img {
  border-radius: 10px;
  margin-top: 20px;
}

.car h2 {
  font-size: 1em;
  color: white;
  margin-top: 20px;
  font-weight: 600;
}

.cartext {
  color: white;
  margin-top: 10px;
}

.car-info {
  color:white;
  margin-top: 20px;
}

.car-info p {
  font-size: 0.9em;
  color: black;
  padding: 5px;
  background-color: white;
  border-radius: 5px;
  font-weight: 600;
  box-shadow: 2px 2px 2px green;
}

.car-info p:hover {
  box-shadow: 3px 3px rgba(255, 0, 0, 0.5),
    0px 0px 3px 4px rgba(0, 128, 0, 0.5);
}

.morecars {
  color: white;
  border-radius: 5px;
  font-size: 17px;
  font-family: Lato;
  background-color: #009147;
  display:block;
  margin: 0 auto;
  white-space: nowrap;
  text-decoration: none !important;
  margin-top: 50px;
  margin-bottom: 50px;
}

.morecars a {
  color: white;
  border-radius: 5px;
  font-size: 17px;
  font-family: Lato;
  text-decoration: none !important;
}

.morecars:hover {
  color: white;
  background-color: #009147;
  border-radius: 5px;
  font-size: 17px;
}


.line-separator-car img {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.seperator-right {
  text-align: right;
}

.seperator-right img {
  width: 70%;
} 


.footer-autostrada-uc p {
  color: white;
  font-family: Lato;
  text-align: center;
}

.footer-autostrada-uc .uc img {
  width: 20%;
}

.footer-autostrada-uc .uc {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
}

.trademark {
  margin-top: 20px;
  font-family: Lato;
  font-size: 1em;
  color: white;
  text-align: center;
}

.nopage {
  text-align: center;
}

  

  /* Extra small devices (phones, 576px and down) */
  @media (max-width: 575.98px) {
    /* Din CSS för extra små skärmar XS */
  .nav {
      font-size: 0.55rem;
    }

  .nav a {
    margin-bottom: 15px;
  }

  .header a {
    font-size: 1.2rem;
  }

  .logo img {
    width: 60%;
  }

  .footer-autostrada-uc .uc img {
    width: 35%;
  }


  }
  /* Extra small devices (phones, 576px and down) */
  @media (max-width: 575.98px) {
    /* Din CSS för extra små skärmar XS */
    .nav {
      font-size: 0.55rem;
    }

    .nav a {
      margin-bottom: 15px;
    }

    .header a {
      font-size: 1.2rem;
    }

    .logo img {
      width: 60%;
    }

    .footer-autostrada-uc .uc img {
      width: 35%;
    }

    /* Lägg till margin-bottom här */
    .header .row {
      margin-bottom: 20px;
    }
  }

  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    /* Din CSS för små skärmar SM */
    .nav {
      font-size: 0.7rem;
    }

    .nav a {
      margin-bottom: 15px;
    }

    .header a {
      font-size: 1.4rem;
    }

    .logo img {
      width: 60%;
    }

    .footer-autostrada-uc .uc img {
      width: 30%;
    } 

    /* Lägg till margin-bottom här */
    .header .row {
      margin-bottom: 20px;
    }
  }

  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    /* Din CSS för medelstora skärmar MD */
    .nav {
      font-size: 0.75rem;
    }

    .nav a {
      margin-bottom: 15px;
    }

    .header {
      display: flex;
      justify-content: space-evenly;
    }

    .header a {
      font-size: 1.2rem;
    }

    .logo img {
      width: 50%;
    }

    /* Lägg till margin-bottom här */
    .header .row {
      margin-bottom: 20px;
    }
  }

  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) and (max-width: 1199.98px) {
    /* Din CSS för större skärmar än medelstora men mindre än extra stora LG */
    .nav {
      font-size: 0.51rem;
      justify-content: space-evenly;
    }

    .header a {
      font-size: 1.5rem;
    }

    /* Lägg till margin-bottom här */
    .header .row {
      margin-bottom: 20px;
    }
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    /* Din CSS för extra stora skärmar XL */
    .nav {
      font-size: 0.65rem;
      justify-content: space-evenly;
    }

    .header a {
      font-size: 1.8rem;
    }
  }

  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1400px) {
    .nav {
      font-size: 0.80rem;
    }
  }
