@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900&display=swap');

@font-face {
  font-family: 'Sawah';
  src: url('../public/fonts/Sawah.otf') format('opentype');
}

* {
  box-sizing: border-box;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: black;
  font-family: Lato;
}

.logo {
  text-align: center;
  width: 100%;
}

.logo img {
  width: 35%;
}




.careight-container {
  padding: 20px;
}

.car-grid {
  display: flex;
  flex-wrap: wrap;
  /* Gör layouten flexibel */
  gap: 20px;
  /* Mellanrum mellan elementen */
  justify-content: center;
  /* Centrerar elementen */
}

.car-item {
  flex: 1 1 calc(33.333% - 20px);
  /* 3 kolumner på större skärmar */
  max-width: calc(33.333% - 20px);
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

.car-image {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 10px;
}

.car-info {
  display: flex;
  /* Gör attributen horisontella */
  justify-content: space-between;
  /* Jämnt mellanrum */
  gap: 10px;
  flex-wrap: wrap;
  /* Gör det responsivt för små skärmar */
  margin-top: 10px;
}

.car-info p {
  flex: 1 1 auto;
  text-align: center;
  margin: 0;
  font-size: 0.85rem;
  background: #f9f9f9;
  padding: 5px;
  border-radius: 5px;
  font-weight: 900;
}

.car-info p:hover {
  box-shadow: 0px 4px 6px rgba(255, 0, 0, 0.3),
    0px 0px 6px 4px rgba(0, 128, 0, 0.3);
}




/* Media Queries */
/* Extra small devices (phones, 576px and down) */
@media (max-width: 575.98px) {
  .logo img {
    width: 60%;
  }


  .car-item {
    flex: 1 1 100%;
    /* Full bredd för små skärmar */
    max-width: 100%;
  }

  .car-info {
    flex-direction: column;
    /* Gör attributen vertikala */
    align-items: flex-start;
  }

  .car-info p {
    flex: none;
    /* Låt varje attribut ta sin egen rad */
    width: 100%;
    text-align: left;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

  .logo img {
    width: 60%;
  }

  .car-item {
    flex: 1 1 calc(50% - 20px);
    /* 2 kolumner för små skärmar */
    max-width: calc(50% - 20px);
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

  .logo img {
    width: 50%;
  }

  .car-item {
    flex: 1 1 calc(33.333% - 20px);
    /* 3 kolumner */
    max-width: calc(33.333% - 20px);
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .nav {
    font-size: 0.65rem;
  }
}