@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

/* Grundlayout */
.car-detail-grid {
  max-width: 2000px;
  margin: 0 auto;
  padding: 2vw;
  text-align: center;
}

.car-detail-grid h1 {
  font-size: clamp(1.5rem, 1.5vw, 5rem);
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #c0c0c0;
  background: linear-gradient(to bottom, #e0e0e0, #c0c0c0, #a0a0a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  margin-bottom: 2vw;
}

/* Specifikationer */
.specifications-container {
  margin: 2vw auto;
  padding: 2vw;
  text-align: center;
}

.specifications-container h2 {
  font-size: clamp(2rem, 3vw, 5rem);
  margin-bottom: 2vw;
  color: #c0c0c0;
  background: linear-gradient(to bottom, #e0e0e0, #c0c0c0, #a0a0a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.specifications-columns {
  display: flex;
  justify-content: space-between;
  gap: 2vw;
  flex-wrap: wrap;
}

.specification-column {
  flex: 1;
  min-width: 300px;
}

.specification-column p {
  font-size: clamp(1.4rem, 1.5vw, 5rem);
  font-weight: bold;
  color: #c0c0c0;
  background: linear-gradient(to bottom, #e0e0e0, #c0c0c0, #a0a0a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  margin: 0.5vw 0;
}

.specification-column p strong {
  margin-right: 10px;
}

/* Information under slider */
.car-info-columns {
  margin-top: 3vw;
}

.car-info-columns h2 {
  font-size: clamp(rem, 3vw, 5rem);
  margin-bottom: 1.5vw;
  color: #c0c0c0;
  background: linear-gradient(to bottom, #e0e0e0, #c0c0c0, #a0a0a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  margin-top: 5vw;
}

.car-info-columns p {
  font-size: clamp(1.3rem, 1.5vw, 2rem);
  line-height: 1.5;
  color: #c0c0c0;
  background: linear-gradient(to bottom, #e0e0e0, #c0c0c0, #a0a0a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.car-info-columns ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  gap: 1vw;
}

.car-info-columns ul li {
  font-size: clamp(1.3rem, 1.5vw, 2rem);
  margin-bottom: 0.5vw;
  color: #c0c0c0;
  background: linear-gradient(to bottom, #e0e0e0, #c0c0c0, #a0a0a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

.equipment-columns {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1vw;
}

.equipment-columns span {
  font-size: clamp(0.8rem, 1.5vw, 2rem);
  color: #c0c0c0;
  background: linear-gradient(to bottom, #e0e0e0, #c0c0c0, #a0a0a0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 0.5vw;
}

/* Responsiv design - Scaling adjustments */
@media (max-width: 768px) {
  .specifications-columns {
    flex-direction: column;
    text-align: center;
  }

  .car-info-columns ul {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 1vw;
  }
  
}
