.seperator-right {
    text-align: right;
  }
  
  .seperator-right img {
    width: 70%;
  }
  
  
  .seperator-left {
    text-align: left;
  }
  
  .seperator-left img {
    width: 70%;
  }
  
  
  