.header {
    display: flex;
    margin-top: 15px;
    text-align: center;
    font-family: Lato;
  }
  
  .header a, .header span {
    color: white;
    font-family: Lato;
    white-space: nowrap;
  }
  
  .logo {
    text-align: center;
    width: 100%;
  }
  
  .logo img {
    width: 35%;
  }
  
  /* Media Queries for Header */
  /* Extra small devices (phones, 576px and down) */
  @media (max-width: 575.98px) {
    .header a, .header span { 
      font-size: 1.2rem;
    }
  
    .logo img {
      width: 60%;
    }
  }
  
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) and (max-width: 767.98px) {
    .header a, .header span { 
      font-size: 1.4rem;
    }
  
    .logo img {
      width: 60%;
    }
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) and (max-width: 991.98px) {
    .header a, .header span { 
      font-size: 1.2rem;
    }
  
    .logo img {
      width: 50%;
    }
  }
  
  /* Large devices (desktops, 992px and up) */
  @media (min-width: 992px) {
    .header a, .header span { 
      font-size: 1.5rem;
    }
  }
  
  /* Extra large devices (large desktops, 1200px and up) */
  @media (min-width: 1200px) {
    .header a, .header span { 
      font-size: 1.8rem;
    }
  }
  